flask==2.3.3
pydantic==2.10.6
twilio==8.7.0
python-dotenv==1.0.1
langchain==0.3.19
langchain-core==0.3.37
langchain-text-splitters==0.3.6
langchain_community==0.3.18
tiktoken>=0.7,<1.0
llama-index==0.5.13
chromadb==0.3.23